
.main-screen{
background-color: #D3D3D3;
}

img{
height: 120px;
width: 120px;
margin-top: 20%;
}

.image{
margin-left: 42%;
margin-right: 45%;
margin-top: 20%;
}

.container{
border-radius: 15px;
background-color: #5F9EA0;
color: white;
margin-top: 1%;
margin-bottom: 10%;
margin-right: 20%;
margin-left: 20%;
}

.main-text{
font-family: serif;
text-align: center;
font-size: 23pt;
padding-top: 2%;
}

.student-link{
padding-bottom: 5%;
border:2px;
margin-left: 25%;
margin-right: 61.2%;
font-size: 12px;

}

.teacher-link{
padding-top: 3%;
padding-bottom: 5%;
border:2px;
margin-left: 25%;
text-align: right;
margin-right: 25%;
margin-top: -11.7%;

}

.fs1{
background-color: #BC8F8F;
border-radius: 11px;
font-size: 13pt;
}

.staff-link{
padding-top: 3%;
padding-bottom: 5%;
border:2px;
margin-left: 45%;
text-align: right;
margin-right: 45%;
margin-top: -11.7%;
}