<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="static/aboutstyle.css">
</head>


<html>
<head>

<link rel="stylesheet" type="text/css" href="static/aboutnavstyle.css">
</head>

<body>
<div id="aboutnav">
    <nav>
        <ul>
          I U L Complaints
           <li> <a href="/"><p>Go to Home</P></a></li>
        </li>
        </ul>
    </nav>
</div>
</body>
</html>

<body>
    <div class="about-section">
        <div class="inner-container">
            <h1 align="center"> <u>Aim</u> </h1>
            <p class="text">

                <b><i>This website is made with the purpose and for students of Integral University, by which they can write their complaints and issue related to their academic session and ongoing classes at one place and register their complaints directly to the Coordinator of the class.</i></b>
        </div>
    </div>
</body>
</html>