<!doctype html>
<html>
<head>
<title> {{edit_complaints.title}} </title>
</head>
<body style="background-color:lightgrey; background-image: linear-gradient(to left, lightblue, lightpink);">
{% if edit_complaints.feedback == 'ＮＯ　ＲＥＳＰＯＮＳＥ　ＹＥＴ　！' %}
<center>
   <a href="/student-dashboard" style="text-decoration:none;">  <h1 style="float:left;">⮜</h1></a>
<h1 style="color:black; border:; border-width:1px; border-style:solid; margin-right:35%; margin-left:35%; text-shadow: 3px 2px  white;"> Edit Your Complain </h1>
<div style="background-color:white; margin-left:25%; padding-right:50px; padding-left:50px; margin-right:25%; box-shadow: 10px 10px 10px black;">
</div>
<form method="POST" action="/edit-complaint/{{edit_complaints.id}}">
    <div style="margin-top: 40px; border: 2px solid grey; margin-left: 20%; margin-right: 20%; border-radius:20%; box-shadow: -10px 10px 10px black;  ">
       <b> TITLE </b>
    <center>   <textarea  name="e-title" rows=5 cols=20 style="margin-top:10px; margin-bottom:13px; max-height:50px; max-width:50%; min-width:25%; font-size:13pt;">  {{edit_complaints.title}}</textarea> <br>
         <b> DESCRIPTION </b>
    </center>

       <textarea  name="e-description" rows=8 cols=85 style="margin-top:10px; max-height:300px; max-width:75%; min-width:35%; margin-bottom:20px; font-size:15pt;" > {{edit_complaints.description}} </textarea>

    </div>
    <button style="background-color:lightblue; color:black; border-radius:70px; float:right; margin-right:24%; margin-top:3.7%; font-size:107%;"> EDIT and POST</button>
</form>
</center>

{% else  %}
<h3> Sorry! you can not edit this complaint any more because your teacher has given response.<br> You can delete this complaint if you want.</h3>

{% endif %}
</body>


</html>