<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login First</title>
    <link rel="stylesheet"  type="text/css" href="static/indexstyle.css">
</head>
<body class="main-screen">

    <div class="container">
        <div class="image">  <img src="static/iul-logo.png" alt="iul-logo"> </div>
        <p class="main-text"> Sign In as : </p>
        <div class="student-link"> <a href="/student-login"><button class="fs1"> STUDENT </button></a> </div>
        <div class="staff-link">  <a href="/teacher-login"><button class="fs1"> TEACHER </button></a> </div>
        <div class="teacher-link"> <a href="/staff-login"><button class="fs1"> STAFF </button></a> </div>
    </div>
</body>
</html>