<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html>
<head>
<title>Staff Login</title>
<link rel="stylesheet" type="text/css" href="static/navstyle.css">
</head>

<body>
<div id="abc">
    <nav>
        <ul>
          I U L Complaints
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>
</body>
</html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}">
</head>
<body>

<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>

<body>
<div id="form">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
      <div id="userform">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li>  <a>Log in </a>  </li>
        </ul>
         {% with messages = get_flashed_messages(category_filter=["invalid-staff-details"]) %}
                                         {% if messages %}
                                            {% for messages in messages %}
                                                <center style="color:lightblue;"> {{messages}} </center>
                                            {% endfor %}
                                         {% endif %}
         {% endwith %}
        <div class="tab-content">
          <div class="tab-pane fade active in" id="login">
            <h3 class="text-uppercase text-center"> Staff Account Log in</h3>
            <form id="login1" method="post">
              <div class="row">
                <label> </label>
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <input type="text" class="form-control" id="en_id" required data-validation-required-message="Please enter your Enrollment Id." placeholder="Enrollment Id*" name="staff-id">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              <div class="form-group">
                <label> </label>
                <input type="password" class="form-control" id="password" required data-validation-required-message="Please enter your password" placeholder="Password*" autocomplete="off" name="staff-password">
                <p class="help-block text-danger"></p>
              </div>
              <div class="mrgn-30-top">
                <button  type="submit" class="btn btn-larger btn-block">
               <a href="/staff-portal">Log In</a>
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<script  src="./script.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80520768-2"></script>
<script>
</script>
</html>
