<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice</title>
</head>
<body>
<a href="/teacher-dashboard" style="text-decoration:none;">  <h1 style="float:left;">⮜</h1></a>
<center>
        <h2 style="color:red; text-shadow: 1px 1px black; background-color:lightpink; margin-left:35%; margin-right:35%; border-radius:18px;" > Notice </h2>

    <table cellpadding="2" cellspacing="4" border="7" style="font-size:13.5pt; width:60%;">
        <tr  style="background-color:#f5f256;">
            <td> <b> S.No </b></td>
            <td> <b> ABOUT </b> </td>
            <td colspan="2" align="center"> <b> DETAIL </b ></td>
        </tr>
{% set sno = namespace(value=1) %}
        {% for notice in show_notice_for_teachers %}

            <tr>
                <td style="background-color:#969687 ; ">
                    {{sno.value}}.
                </td>
                <td style="background-color:#9adee3;">
                    {{ notice.title }}
                </td>
                <td style="background-color:#9adee3;">
                    {{ notice.description }}
                </td>
            </tr>
        {% set sno.value = sno.value + 1 %}
        {% endfor %}
    </table>

</center>
</body>
</html>